<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sb Extendi Gol" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice || alert %>
      <%= render '/components/flash_notice' %>
    <% end %>
    <%= render '/components/header' %>
    <main class="<%= params[:controller].include?('devise') ? "min-h-screen max-w-sm mx-auto flex items-center justify-center" : "" %>">
      <%= yield %>
    </main>
  </body>
</html>
